---
import { Aside } from '@astrojs/starlight/components';
---

<Aside type="note" title="Suggested attribution template">
  <p>You can use this as a simple attribution template when reusing the writing:</p>
  <pre><code>{`**Author:** Mikey Sebastian Drozd
**Website:** https://practiceofclarity.eu
**Copyright:** © 2026 Mikey Sebastian Drozd
**License:** [CC BY 4.0](https://creativecommons.org/licenses/by/4.0/)`}</code></pre>
  <p>
    Pronouns are optional in attribution. If you adapted the material, add a short note saying what
    changed.
  </p>
</Aside>
