---
import { getEntry, render } from 'astro:content';

interface Props {
	orientation?: string;
}

const { orientation } = Astro.props;

let OrientationContent: any = null;

if (orientation) {
	const match = await getEntry('register', orientation)
		?? await getEntry('register', orientation.replace(/\/index$/, ''));
	if (match) {
		const rendered = await render(match);
		OrientationContent = rendered.Content;
	}
}
---

<div data-register-content="practitioner">
	<slot />
</div>

{
	OrientationContent && (
		<div data-register-content="orientation">
			<OrientationContent />
		</div>
	)
}

<style is:global>
	[data-register-content='orientation'] {
		display: none;
	}

	:root[data-register='orientation'] [data-register-content='practitioner'] {
		display: none;
	}

	:root[data-register='orientation'] [data-register-content='orientation'] {
		display: contents;
	}
</style>
