---
import { getEntry, render } from 'astro:content';

interface Props {
	register?: string;
}

const { register: registerEntry } = Astro.props;

let RegisterEntryContent: any = null;

if (registerEntry) {
	const match = await getEntry('register', registerEntry)
		?? await getEntry('register', registerEntry.replace(/\/index$/, ''));
	if (match) {
		const rendered = await render(match);
		RegisterEntryContent = rendered.Content;
	}
}
---

<div data-register-content="practitioner">
	<slot />
</div>

{
	RegisterEntryContent && (
		<div data-register-content="orientation">
			<RegisterEntryContent />
		</div>
	)
}

<style is:global>
	[data-register-content] {
		display: none;
	}

	:root:not([data-register]) [data-register-content='practitioner'] {
		display: contents;
	}

	:root[data-register='practitioner'] [data-register-content='practitioner'],
	:root[data-register='orientation'] [data-register-content='orientation'],
	:root[data-register='everyday'] [data-register-content='everyday'] {
		display: contents;
	}
</style>
