---
import { Icon } from "@astrojs/starlight/components";
import { BLUESKY, GITHUB, LINKEDIN, MASTODON } from "../consts";

const links = [
  { label: "LinkedIn", href: LINKEDIN, icon: "linkedin" },
  { label: "GitHub", href: GITHUB, icon: "github" },
  { label: "Bluesky", href: BLUESKY, icon: "blueSky" },
  { label: "Mastodon", href: MASTODON, icon: "mastodon" },
] as const;
---

{
  links.map(({ label, href, icon }) => (
    <a href={href} rel="me" class="sl-flex social-link">
      <span class="sr-only">{label}</span>
      <Icon name={icon} />
    </a>
  ))
}

<style>
  @layer starlight.core {
    .social-link {
      color: var(--sl-color-text-accent);
      padding: 0.5em;
      margin: -0.5em;
    }

    .social-link:hover {
      opacity: 0.66;
    }
  }
</style>
